:root {
    --defaultFont: sanserif;
}

body, html {
    background-color: #002244;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template: 100% / auto;
    place-items: center;
}

.main-container {
    height: 97.5%;
    width: 97.5%;
    background-color: #B0E0E6;
    border: 1px solid white;
    border-radius: 2em;

    display: grid;
    grid-template-rows: 17.5% 80%;
    grid-template-columns: 65%;
    justify-content: center;

    background-image: url(./img/nightsky.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    background: linear-gradient(rgba(178, 255, 255, 1), rgba(0, 13, 28, 0));
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem;
}

.header > div:first-child {
    font-size: 3rem;
    font-weight: bold;
}

.header > div:last-child > * {
    cursor: pointer;
}

.log-in {
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;
    border: 0;
    font-size: 1.1rem;
}